.form-container {
  width: 90%;
  margin: auto;
  border: solid;
  padding: 1rem;
}

.form-group {
  padding: 2rem;
}

.form-header {
  display: flex;
  align-items: center;
}

.form-header > span,
button {
  color: white;
  font-size: 30px;
  padding: 0.5rem 1rem;
  background-color: rgb(45, 214, 121);
  border-radius: 15px;
  margin-right: 10px;
}

.form-group-row {
  display: flex;
  flex-wrap: wrap;
}

.form-group-row > .form-group:first-child {
  width: 60%;
}

/*Responsive layout*/
@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .form-group-row > * {
    width: 100% !important;
  }
}
