.header-container {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 2rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.page-description {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex-basis: 50%;
}

