.search-container {
  display: flex;
  justify-content: space-around;
  padding: 3rem 0;
  flex-wrap: wrap;
  align-items: center;
}

.search-container > input {
  flex-basis: 70%;
  margin-right: 2rem;
}
