* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: #2eb875;
  --blue: #3e54de;
  --white: white;
  --light-gray: rgba(245, 244, 244, 0.836);
  --secondary: #6e7191;
}

html {
  font-family: sans-serif;
  font-size: 16px;
}

body {
  background-color: var(--light-gray);
}

main {
  max-width: 1200px;
  margin: auto;
}

p {
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  background: none;
  text-decoration: none;
  border: none;
  outline: none;
  padding: 0.8rem 1rem;
  font-weight: bold;
  border-radius: 15px;
  transition: ease-in-out 0.3s;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 15rem;
}

.btn span {
  font-size: 30px;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 1px 3px 3px 0px rgb(0 0 0 / 27%);
}

.bg-green {
  background-color: var(--green);
}

.bg-blue {
  background-color: var(--blue);
}
.bg-white {
  background-color: var(--white);
}

.text-white {
  color: var(--white);
}

.text-green {
  color: var(--green);
}

.text-blue {
  color: var(--blue);
}

.text-secondary {
  color: var(--secondary);
}

input,
textarea {
  border-radius: 15px;
  border: 1px solid #ccc;
  outline: 0;
  padding: 1rem;
}

@media only screen and (max-width: 600px) {
  .header-container {
    flex-direction: column;
    justify-content: center;
  }
  .page-description {
    flex-basis: auto;
    flex-direction: column;
  }

  .page-description > * {
    margin-bottom: 1rem;
  }
}
